BF_API_KEY: 'YOUR_API_TOKEN_HERE'
BF_URLS: 'https://brandfolder.com/YOUR_BRANDFOLDER_SLUG, https://brandfolder.com/YOUR_BRANDFOLDER_SLUG2, https://brandfolder.com/YOUR_BRANDFOLDER_SLUG3'
LOCKUP_CODEWORD: 'SIMPLE_PASSWORD'
BF_EXACT_MATCH: 'true'
PER_PAGE: 1000